@font-face{
	font-family: Exo;
	src: url('../fonts/Exo-Regular.ttf');
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media (max-width: 767px) {	
	.navbar.navbar-no-bg { background: #444; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse .navbar-toggle { margin-top: 13px; border-color: transparent; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { border: 0; }
	
	.section-description p { padding: 0; }
	
	.top-content { padding: 50px 0 80px 0; }
	.top-content .text { padding-top: 20px; }
	
	.features-box { text-align: center; }
	.features-box h3 { margin-top: 5px; padding-top: 10px; }

}

html{
	background: url(../images/bfp1.png) no-repeat center center fixed;
  	background-size: cover;
  	height: 100%;
  	overflow: hidden;
}

body{
	padding: 0;
  	margin: 0 auto;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
}

input:hover{
	outline: none;
	border: 1px solid #f7c600;
}

.navbar {
	margin-bottom: 0;
	background: #b0d7f4;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

ul.navbar-nav {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar-inverse ul.navbar-nav li a { 
	padding-top: 8px; 
	padding-bottom: 8px; 
	color: #fff; 
	border: 0; 
}

.navbar-inverse ul.navbar-nav li a:hover { 
	color: #444; 
	border: 0; 
}

.navbar-inverse ul.navbar-nav li a:focus { 
	color: #444; 
	outline: 0; 
	border: 0; 
}

.navbar-brand {
	text-indent: -99999px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { 
	margin-left: 0; 
}


/*classes*/
.user input[type=text]:focus{
	outline: none;
	border: 1px solid black;
}

.body{
  	-webkit-filter: blur(5px);
	z-index: 0;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 275px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #ffff00 !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.loginButton{
	width: 260px;
	height: 40px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.loginButton:hover{
	opacity: 0.8;
}

.loginButton:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255, 238, 51, 0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255, 238, 51, 0.9);
}

.login input[type=text]:hover{
	outline: none;
	border: 1px solid rgba(255, 238, 51, 0.9);
}

.login input[type=password]:hover{
	outline: none;
	border: 1px solid rgba(255, 238, 51, 0.9);
}

.loginButton:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.alert {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    margin: 0 auto;
    margin-top: 1%;
    width: 20%;
    text-align: center;
    font-family: 'Exo', sans-serif;
	font-size: 16px;
}

.alert:hover{
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.centered{
	position: relative;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.hedatu{
	position: relative;
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin-top: 5%;
	z-index: 2;
}

.hedatu div{
	text-align: center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.id{
	position: relative;
	margin: 0 auto;
	margin-top: 1%;
	height: auto;
	width: auto;
	padding: 10px;
	z-index: 2;
}

.id input[type=text]:hover{
	outline: none;
	border: 1px solid rgba(255, 238, 51, 0.9);
}

.id input[type=password]:hover{
	outline: none;
	border: 1px solid rgba(255, 238, 51, 0.9);
}

.id input[type=text]{
	display: flex;
  	align-items: center;
  	justify-content: center;
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
}

.id input[type=password]{
	display: flex;
  	align-items: center;
  	justify-content: center;
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
}

.buttonLink{
	position: relative;
	margin-top: 2%;
	text-align: center;
	background:none!important;
    border: none; 
    padding: 0!important;   
    font-family: 'Exo', sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;
}

.buttonLink:hover{
	text-decoration: underline;
	font-weight: bold;
	color: rgba(0,0,0, .7);
}

.buttonLinkTwo{
	position: relative;
	margin-top: 2%;
	text-align: center;
	background:none!important;
    border: none; 
    padding: 0!important;   
    font-family: 'Exo', sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;
}

.buttonLinkTwo:hover{
	text-decoration: underline;
	font-weight: bold;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 300px;
  text-align: center;
}

.card-a {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-b {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  	padding: 20px; 
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.card-c {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  	padding: 20px; 
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 250px;
  	height: 300px;
}

.card-c:hover {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.35);
}

.dashContainer{
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.list-group li:hover{
	background-color: #e3e1e1;
	cursor: pointer;
}

.profPic{
	display: inline-block;
	width: 150px;
	height:150px;
	border-radius: 8%;
}

.profImg{
	border-radius: 8%;
	width: 150px;
	height: 150px;
}

/*div*/
#wrap {
   width: 100%;
   margin: 0 auto;
   font-size: 18px;
}
#left_col {
   float: left;
   width: 60%;
}
#right_col {
   float: right;
   width: 40%;
}

#inputAsLink{
   background: none;
   border: none;
   color: blue;
   text-decoration: none;
   cursor: pointer;
}

#inputAsLink:hover{
	color: #444;
	text-decoration: underline;
}

#fileToUpload:hover{
	border: none!important;
}

#schedule{
	width: 25%;
	display: inline-block;
}

